<footer>
	<div>
		<a
            class="item"
            href="https://www.facebook.com/myautisticself"
        >
            Facebook
        </a>
        <a
            class="item"
            href="https://twitter.com/WesterinkDavid"
        >
            Twitter
        </a>
        <a class="item" href="https://github.com/davidakachaos">
            GitHub
        </a>
        {%- if page.lang == "nl" -%}
        <a class="item" href="{{ site.baseurl }}/feed.xml"
            >RSS Feed</a
        >
        {%- else -%}
        <a class="item" href="{{ site.baseurl }}/feed_en.xml"
            >RSS Feed</a
        >
        {%- endif -%}
	</div>
</footer>