<header>
	<nav class="site-nav">
	    <div class="left-nav">
	        <!-- add titles to all buttons -->
	        <div class="ui secondary menu inverted">
	            {%- if include.lang == "nl" -%}
	            <a class="item" href="/">
	                Home
	            </a>
	            <a class="item" href="/about.html">
	                Over mij
	            </a>
	            <a class="item" href="/archive.html">
	                Archief
	            </a>
	            <a
	                class="item"
	                href="/links-naar-andere-websites"
	            >
	                Links
	            </a>
	            {%- else -%}
	            <a class="item" href="/en">
	                Home
	            </a>
	            <a class="item" href="/en/about.html">
	                About me
	            </a>
	            <a class="item" href="/en/archive.html">
	                Archive
	            </a>
	            <a
	                class="item"
	                href="/links-to-other-websites"
	            >
	                Links
	            </a>
	            {%- endif -%} {%- assign pages=site.pages | where:"ref",
	            page.ref | sort: 'lang' -%} {%- for page in pages -%}
							{%- if page.url contains "amp" -%}{%- continue -%}{%- endif -%}
	            <a
	                href="{{site.baseurl}}{{ page.url }}"
	                class="item {{ page.lang }}"
	                >&nbsp;</a
	            >
	            {%- endfor -%} {%- assign posts=site.posts | where:"ref",
	            page.ref | sort: 'lang' -%} {%- for post in posts -%}
							{%- if page.url contains "amp" -%}{%- continue -%}{%- endif -%}
	            <a
	                href="{{site.baseurl}}{{ post.url }}"
	                class="item {{ post.lang }}"
	                >&nbsp;</a
	            >
	            {%- endfor -%}
	        </div>
	    </div>
	</nav>
</header>
