<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="{{ site.baseurl }}/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">David Westerink</a>
                <div class="description">
                    <p>Ik ben David, bouwjaar 1984 en heb het syndroom van Asperger.</p>
                    <a href="https://twitter.com/WesterinkDavid?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="nl" data-show-count="false">Follow @WesterinkDavid</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <p>Blijf op de hoogte via Facebook; <div class="fb-like" data-href="https://www.facebook.com/myautisticself/" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div></p>
                </div>
            </div>
        </div>
    </div>
</div>