<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="{{ site.baseurl }}/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">David Westerink</a>
                <div class="description">
                    <p>Ik ben David, bouwjaar 1984 en heb het syndroom van Asperger.</p>
                </div>
            </div>
        </div>
    </div>
</div>