<div class="ui card">
    {%- if post.image -%}
    <div class="ui image">
        {% responsive_image_block %}
          path: {{ post.image | replace: "/assets", "assets" }}
          alt: {{ post.description }}
          title: {{ post.title | strip_html | truncatewords: 15 }}
          class: "ui image large centered"
          url: {{ post.url }}
        {% endresponsive_image_block %}
    </div>
    {%- endif -%}
    <div class="content">
        <a class="header" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | strip_html | truncatewords: 15 }}">{{ post.title | strip_html | truncatewords: 15 }}</a>
        <div class="meta">
            <span class="date">{{ post.date | date_to_string }} 
            {%- if post.category -%} 
                &nbsp;in <a href="{{site.baseurl}}{{ page.lang | append: '/' | prepend: '/' | remove: '/nl' }}category/{{post.category}}.html" alt="{{post.category}} posts">{{ post.categories }}</a>
            {%- endif -%} 
            </span>
        </div>
        <div class="description">
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    <div class="extra content">
        <i class="comments icon"></i>
        <a href="{{ site.baseurl }}{{ post.url }}#allwebmentions" data-disqus-identifier="{{post.url}}">
            {% webmention_count post.url %} Webmentions
        </a>
        {%- if post.author -%}
        <div class="right floated author">
            <img class="ui avatar image" src="{{ site.baseurl }}/assets/img/profile.jpg"> {{ post.author }}
        </div>
        {%- endif -%}
    </div>
</div>