<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">David &copy; 2019</p>
			<div class="right menu">
                {%- if page.lang == "nl" -%}
                <a class="item" href="{{ site.baseurl }}/archive.html">
                    Laatste Berichten
                </a>
                {%- else -%}
                <a class="item" href="{{ site.baseurl }}/en/archive.html">
                    Latest Posts
                </a>
                {%- endif -%}
                <a class="item" href="{{site.baseurl}}/privacy.html">
                    Privacy
                </a>
                <a class="item" rel="me" href="https://twitter.com/{{site.twitter.username}}">
                    Twitter
                </a>
                <a class="item" rel="me" href="https://facebook.com/myautisticself">
                    Facebook
                </a>
                <a rel="me" href="https://www.instagram.com/david.westerink/"></a>
                <a class="item" rel="me" href="https://github.com/davidakachaos">
                    Github
                </a>
                <div class="fb-page" data-href="https://www.facebook.com/myautisticself/" data-tabs="" data-width="230" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/myautisticself/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/myautisticself/">My Autistic Self</a></blockquote></div>
            </div>
        </div>
    </div>
</footer>
