<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo.png" class="logo" alt="Site logo" /></a>
            </h1>
            <h3 class="site-description">{{ site.description[page.lang] }}</h3>
        </div>
        {% endif %}
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    {%- if page.lang == "nl" -%}
                    <a class="item" href="{{ site.baseurl }}/">
                        Home
                    </a>
                    <a class="item" href="{{ site.baseurl }}/about.html">
                        Over mij
                    </a>
                    <a class="item" href="{{ site.baseurl }}/archive.html">
                        Archief
                    </a>
                    {%- else -%}
                    <a class="item" href="{{ site.baseurl }}/en">
                        Home
                    </a>
                    <a class="item" href="{{ site.baseurl }}/en/about.html">
                        About me
                    </a>
                    <a class="item" href="{{ site.baseurl }}/en/archive.html">
                        Archive
                    </a>
                    {%- endif -%}
                    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                    {% for page in pages %}
                        <a href="{{site.baseurl}}{{ page.url }}" class="item {{ page.lang }}">&nbsp;</a>
                    {% endfor %}
                    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
                    {% for post in posts %}
                        <a href="{{site.baseurl}}{{ post.url }}" class="item {{ post.lang }}">&nbsp;</a>
                    {% endfor %}
                    <div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Zoeken..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div>

                        <a class="item" href="https://www.facebook.com/myautisticself">
                            <i class="facebook link icon"></i>
                        </a>
                        <a class="item" href="https://twitter.com/WesterinkDavid">
                            <i class="twitter link icon"></i>
                        </a>
                        <a class="item" href="https://github.com/davidakachaos">
                            <i class="github link icon"></i>
                        </a>
                        {%- if page.lang == "nl" -%}
                        <a class="item" href="{{ site.baseurl }}/feed.xml">RSS Feed</a>
                        {%- else -%}
                        <a class="item" href="{{ site.baseurl }}/feed_en.xml">RSS Feed</a>
                        {%- endif -%}
                    </div>
                </div>
            </div>
            <div class="right-nav">
            </div>
        </nav>
    </header>
</div>