<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" hreflang="en" href="{{ site.baseurl }}{{ page.url | prepend: "/en" }}" title="This document in English">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mobile.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/semantic.min.css"/>

    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/img/logo.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <title>{% if page.title %}{{ page.title | append: " | " | append: site.title[page.lang] | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
    <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
    <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">

    {%- include icons.html -%}
    {%- seo title=false -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-429677-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-429677-9');
    </script>
    {%- if site.tags != "" -%}
      {%- include collecttags.html -%}
    {%- endif -%}
    {%- include googleadsense.html -%}
</head>