<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {%- if page.layout != "post" -%}
        <div class="head-area">
            <h1 style="display:none;">{{site.title}}</h1>
            <h1 class="site-logo">
                <a href="{{ site.baseurl }}/"
                    >{% responsive_image path: assets/img/logo.png alt: "Site logo" class: "logo" progressive: false %}</a>
            </h1>
            <h3 class="site-description">{{ site.description[page.lang] }}</h3>
        </div>
        {%- endif -%}
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    {%- if page.lang == "nl" -%}
                    <a class="item" href="{{ site.baseurl }}/">
                        Home
                    </a>
                    <a class="item" href="{{ site.baseurl }}/about.html">
                        Over mij
                    </a>
                    <a class="item" href="{{ site.baseurl }}/archive.html">
                        Archief
                    </a>
                    <a
                        class="item"
                        href="{{ site.baseurl }}/links-naar-andere-websites"
                    >
                        Links
                    </a>
                    {%- else -%}
                    <a class="item" href="{{ site.baseurl }}/en">
                        Home
                    </a>
                    <a class="item" href="{{ site.baseurl }}/en/about.html">
                        About me
                    </a>
                    <a class="item" href="{{ site.baseurl }}/en/archive.html">
                        Archive
                    </a>
                    <a
                        class="item"
                        href="{{ site.baseurl }}/links-to-other-websites"
                    >
                        Links
                    </a>
                    {%- endif -%}
                    <div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input
                                    placeholder="Zoeken..."
                                    type="text"
                                    id="search-input"
                                    onkeypress="handleKeyPress()"
                                />
                                <i
                                    class="search link icon"
                                    onclick="handleSubmit()"
                                ></i>
                            </div>
                        </div>

                        <a
                            class="item"
                            href="https://www.facebook.com/myautisticself"
                        >
                            <i class="facebook link icon"></i>
                        </a>
                        <a
                            class="item"
                            href="https://twitter.com/WesterinkDavid"
                        >
                            <i class="twitter link icon"></i>
                        </a>
                        <a class="item" href="https://github.com/davidakachaos">
                            <i class="github link icon"></i>
                        </a>
                        {%- if page.lang == "nl" -%}
                        <a class="item" href="{{ site.baseurl }}/feed.xml"
                            >RSS Feed</a
                        >
                        {%- else -%}
                        <a class="item" href="{{ site.baseurl }}/feed_en.xml"
                            >RSS Feed</a
                        >
                        {%- endif -%}
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>
