{%- if page.image -%}
<meta property="og:image" content="{{site.url}}{{ page.image }}" />
<meta name="twitter:image" content="{{site.url}}{{ page.image }}">
{%- else -%}
<meta property="og:image" content="{{site.url}}/assets/img/logo.png" />
<meta name="twitter:image" content="{{site.url}}/assets/img/logo.png">
{%- endif -%}
<meta name="twitter:title" content="{{page.title}} | My Autistic Self">
<meta name="twitter:description" content="{{page.description | default: 'a blog about autism' | escape }}">
