{%- assign largest = resized | sort: 'width' | last -%}
{%- assign tinyest = resized | sort: 'width' | first -%}
{%- capture srcset -%}
{%- for i in resized -%}
	{%- if forloop.last == false -%}
    /{{ i.path }} {{ i.width }}w,
	{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- if class == "logo" -%}
<picture>
	<source type="image/webp" srcset="/{{ original.path | replace: 'png', 'webp' }}">
	<source type="image/png" srcset="/{{ original.path  }}">
	<img src="/{{ original.path }}" srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w" class="{{ class }}" alt="{{ alt }}" title="{{ title }}" />
</picture>
{%- else -%}
{%- if url -%}
<a href="{{url}}" data-href="/{{ original.path }}"
   data-srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w"
   data-sizes="100vw"
   class="progressive replace {{ class }}">
    <img src="/{{ tinyest.path }}" class="preview {{ class }}" alt="{{ alt }}" title="{{ title }}" />
</a>
{%- else -%}
<a href="/{{ original.path }}"
   data-srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w"
   data-sizes="100vw"
   class="progressive replace {{ class }}">
    <img src="/{{ tinyest.path }}" class="preview {{ class }}" alt="{{ alt }}" title="{{ title }}" />
</a>
{%- endif -%}
{%- endif -%}
