{%- assign largest = resized | sort: 'width' | last -%}
{%- assign tinyest = resized | sort: 'width' | first -%}
{%- capture srcset -%}
{%- for i in resized -%}
	{%- if forloop.last == false -%}
    /{{ i.path }} {{ i.width }}w,
	{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- if class == "logo" -%}
<picture>
	<source type="image/webp" srcset="/{{ original.path | replace: 'png', 'webp' }}">
	<source type="image/png" srcset="/{{ original.path  }}">
	<img src="/{{ original.path }}"
	srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w"
	class="lazyload {{ class }}" alt="{{ alt }}"
	title="{{ title }}" />
</picture>
{%- else -%}
{%- if url -%}
<a href="{{url}}">
{%- endif -%}
	<picture>
		<source type="image/webp" srcset="/{{ original.path | replace: 'png', 'webp' | replace: 'jpg', 'webp' | replace: 'jpeg', 'webp' }}">
		<source srcset="/{{ original.path  }}">
		<img
		data-sizes="auto"
	  src="/{{ tinyest.path }}"
		alt="{{ alt }}" title="{{ title }}"
		data-srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w" class="preview lazyload {{ class }}" />
	</picture>
{%- if url -%}
</a>
{%- endif -%}
{%- endif -%}
