---
layout: page
---
{% assign posts=site.posts | where:"lang", page.lang %}
{% for post in posts %}

    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ site.baseurl }}/en{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                    {% if post.category %} 
                        in <i>{{ post.category }}</i>
                    {% endif %} 
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>

{% endfor %}

<h2>Tags</h2>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="{{site.baseurl}}/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>
{% endfor %}
