---
layout: default
---
{%- if page.css -%}
<style type="text/css">
    {{ page.css }}
</style>
{%- endif -%}

<div class="post-container h-entry">
    <center>
        <span class="date">
            <a
      class="u-url dt-published"
      href="{{page.url}}"
      >{{ page.date | date_to_string }}</a>
            {%- if page.category -%}
                &nbsp;in <a href="{{site.baseurl}}{{ page.lang | append: '/' | prepend: '/' | remove: '/nl' }}category/{{page.category | replace: ' ', '-'}}.html" alt="{{page.category}} posts"><i>{{ page.categories }}</i></a>
            {%- endif -%}
            <br>
        </span>
        <h1 class="post-title p-name">{{ page.title }}</h1>
        <div>
            <small><i>See this post in: </i></small>
            {%- assign posts=site.posts | where:"ref", page.ref | sort: 'lang' -%}
            {%- for post in posts -%}
                <a href="{{site.baseurl}}{{ post.url }}" class="item {{ post.lang }}">&nbsp;</a>
            {%- endfor -%}
        </div>
		{%- include read_time.html -%}
    </center>
    {%- if page.wm-reply == true -%}
    <div>
    {%- if page.lang == "nl" -%}
    Als antwoord op&nbsp;
    {%- else -%}
     In reply to&nbsp;
    {%- endif-%} <a href="{{page.wm-link}}" class="u-in-reply-to">{{page.wm-title}}</a>:<br />
        {% if page.wm-quote %}
        <div class="p-name p-content quote">
            <blockquote>
                <p>{{page.wm-quote}}</p>
                {%- if page.wm-cite -%}
                <cite>{{page.wm-cite}}</cite>
                {%- endif -%}
            </blockquote>
            <br />
        </div>
        {% endif %}
    </div>
    {%- endif -%}
    <div class="ui divider"></div>
    <div class="e-content">
        {{ content }}
    </div>
    <div class="ui horizontal divider">
        {%- if page.lang == "nl" -%}
        Bedankt Voor Het Lezen
        {%- else -%}
        Thanks for reading
        {%- endif -%}
    </div>
    {%- include share-buttons.html -%}
    <div>
        <span class="tags">Tags:&nbsp;
          {%- for tag in page.tags -%}
            {%- capture tag_name -%}{{ tag }}{%- endcapture -%}
            {%- if page.lang == "nl" -%}
            <a href="{{site.baseurl}}/tag/{{ tag_name }}">
            {%- else -%}
            <a href="{{site.baseurl}}/en/tag/{{ tag_name }}">
            {%- endif -%}
            <code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {%- endfor -%}
        </span>
    </div>
    {%- if page.lang == "nl" -%}
    {%- include_cached author.html -%}
    {%- include related_posts.html -%}
    {%- else -%}
    {%- include_cached author_en.html -%}
    {%- include related_posts.html -%}
    {%- endif -%}
    <h2 id="allwebmentions">Webmentions
        <sup><abbr title="Webmention is een W3C-aanbeveling die een eenvoudig protocol beschrijft om elke URL op de hoogte te stellen wanneer een website ernaar linkt, en voor webpagina's om meldingen aan te vragen wanneer iemand naar hen linkt.">?</abbr></sup></h2>
    {% webmentions page.url %}
</div>
