---
layout: default
---

<div class="post-container">
    <center>
        <span class="date">
            {{ page.date | date_to_string }} 
            {%- if page.category -%} 
                in <i>{{ page.categories }}</i>
            {%- endif -%}
            <br>
        </span>
        <h1 class="post-title">{{ page.title }}</h1>
        <div>
            <small><i>See this post in: </i></small>
            {%- assign posts=site.posts | where:"ref", page.ref | sort: 'lang' -%}
            {%- for post in posts -%}
                <a href="{{site.baseurl}}{{ post.url }}" class="item {{ post.lang }}">&nbsp;</a>
            {%- endfor -%}
        </div>
    </center>
    <div class="ui divider"></div>
    {{ content }}
    <div class="ui horizontal divider">
        {%- if page.lang == "nl" -%}
        Bedankt Voor Het Lezen
        {%- else -%}
        Thanks for reading
        {%- endif -%}
    </div>
    {%- include share-buttons.html -%}
    <div>
        <span class="tags">Tags:
          {%- for tag in page.tags -%}
            {%- capture tag_name -%}{{ tag }}{%- endcapture -%}
            {%- if page.lang == "nl" -%}
            <a href="{{site.baseurl}}/tag/{{ tag_name }}">
            {%- else -%}
            <a href="{{site.baseurl}}/en/tag/{{ tag_name }}">
            {%- endif -%}
            <code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
          {%- endfor -%}
        </span>
    </div>
    {%- if page.lang == "nl" -%}
    {%- include author.html -%}
    {%- include related_posts.html -%}
    {%- include disqus.html -%}
    {%- else -%}
    {%- include author_en.html -%}
    {%- include related_posts.html -%}
    {%- include disqus_en.html -%}
    {%- endif -%}
    
</div>