<!DOCTYPE html>
<html lang="nl"><head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="https://code.jquery.com/" />
    <link rel="dns-prefetch" href="https://downloads.mailchimp.com/" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <meta name="msvalidate.01" content="2B3B37568F562F7C3D1DD441B8744E45" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/mobile.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.css">
    <script src="https://cdn.jsdelivr.net/npm/progressive-image.js/dist/progressive-image.js"></script><link
        rel="stylesheet"
        href="/assets/css/vendor/syntax.css"
    />
    <link
        rel="stylesheet"
        href="/assets/css/vendor/semantic.min.css"
    />

    <link
        rel="shortcut icon"
        type="image/png"
        href="/assets/img/logo.png"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto"
        rel="stylesheet"
    />
    <title>Tag: pokemon-go | My Autistic Self</title><link rel="alternate" hreflang="en" href="/en/tag/pokemon-go" /><link rel="alternate" hreflang="nl" href="/tag/pokemon-go" /><link
        rel="alternate"
        type="application/rss+xml"
        title=""
        href="https://myautisticself.nl/feed.xml"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://myautisticself.nl/assets/img/logo.png" /><link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff"><!-- Begin Jekyll SEO tag v2.6.1 -->
<meta name="generator" content="Jekyll v4.0.0" />
<meta property="og:title" content="Tag: pokemon-go" />
<meta name="author" content="David Westerink" />
<meta property="og:locale" content="nl" />
<meta name="description" content="Tag pagina voor pokemon-go" />
<meta property="og:description" content="Tag pagina voor pokemon-go" />
<link rel="canonical" href="https://myautisticself.nl/tag/pokemon-go" />
<meta property="og:url" content="https://myautisticself.nl/tag/pokemon-go" />
<meta property="og:site_name" content="My Autistic Self" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Tag: pokemon-go" />
<meta name="twitter:site" content="@WesterinkDavid" />
<meta name="twitter:creator" content="@WesterinkDavid" />
<meta property="article:publisher" content="https://www.facebook.com/myautisticself/" />
<meta name="google-site-verification" content="WHeMLVU_8p80z-fEGUMt0A3fc-NVCLfFxqZX2NktdfE" />
<script type="application/ld+json">
{"author":{"@type":"Person","name":"David Westerink"},"headline":"Tag: pokemon-go","description":"Tag pagina voor pokemon-go","@type":"WebPage","url":"https://myautisticself.nl/tag/pokemon-go","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://myautisticself.nl/assets/img/logo.png"},"name":"David Westerink"},"@context":"https://schema.org"}</script>
<!-- End Jekyll SEO tag -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4410316703647021",
          enable_page_level_ads: true
     });
</script><link rel="dns-prefetch" href="https://webmention.io"><link rel="preconnect" href="https://webmention.io"><link rel="preconnect" href="ws://webmention.io:8080"><link rel="pingback" href="https://webmention.io/myautisticself.nl/xmlrpc"><link rel="webmention" href="https://webmention.io/myautisticself.nl/webmention"><!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-429677-9', 'auto');
    ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash});
    ga('set', 'anonymizeIp', false);
    </script>
    <!-- End Google Analytics --></head>
<script type="application/ld+json">
{
 "@context" : "http://schema.org",
 "@type" : "Organization",
 "name" : "David Westerink",
 "url" : "https://myautisticself.nl",
 "sameAs" : [
   "https://twitter.com/WesterinkDavid",
   "https://www.facebook.com/myautisticself/"
  ]
}
</script>
<body>
	<div id="fb-root"></div>
    <div class="page-wrap">
        <div class="header-wrapper">
    <header>
        <!-- logo and description --><div class="head-area">
            <h1 style="display:none;">My Autistic Self</h1>
            <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.png" srcset="/assets/resized/80/logo.png 80w,/assets/resized/20/logo.png 20w,/assets/resized/300/logo.png 300w,/assets/resized/250/logo.png 250w, /assets/img/logo.png 900w" class="logo" alt="Site logo" title=""></a>
            </h1>
            <h3 class="site-description">Mijn blog over mezelf als autist en mijn ervaringen met autisme.  Informatie en uitleg voor mensen zonder autisme, een kijk op de wereld vanuit iemand met autisme.</h3>
        </div>
<nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
<a class="item" href="/">
                        Home
                    </a>
                    <a class="item" href="/about.html">
                        Over mij
                    </a>
                    <a class="item" href="/archive.html">
                        Archief
                    </a>
                    <a class="item" href="/links-naar-andere-websites">
                        Links
                    </a><div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Zoeken..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div>

                        <a class="item" href="https://www.facebook.com/myautisticself">
                            <i class="facebook link icon"></i>
                        </a>
                        <a class="item" href="https://twitter.com/WesterinkDavid">
                            <i class="twitter link icon"></i>
                        </a>
                        <a class="item" href="https://github.com/davidakachaos">
                            <i class="github link icon"></i>
                        </a><a class="item" href="/feed.xml">RSS Feed</a>
</div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>

        <main>
          <div style="display: none;" id="lang-change-to-en" class="ui message">
            <i class="close icon"></i>
            <div class="header">
              Psst...
            </div>
            <p>Do you want to see this page in English? <a id="change-to-en" href="">Click here to see <img class="emoji" title=":smile:" alt=":smile:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png" height="20" width="20"></a></p>
          </div>
          <div style="display: none;" id="lang-change-to-nl" class="ui message">
            <i class="close icon"></i>
            <div class="header">
              Psst...
            </div>
            <p>Liever deze pagina zien in het Nederlands? <a id="change-to-nl" href="">Klik hier om te bekijken <img class="emoji" title=":wink:" alt=":wink:" src="https://github.githubassets.com/images/icons/emoji/unicode/1f609.png" height="20" width="20"></a></p>
          </div>

            <div class="post-container">
    <center>
        <h1 class="post-title">Tag: pokemon-go</h1>
        <div>
            <small><i>See this page in: </i></small><a href="/en/tag/pokemon-go" class="item en"> </a><a href="/tag/pokemon-go" class="item nl"> </a>
</div>
    </center>
    <div class="ui divider"></div>
    <div class="post">
<h1>Tag: pokemon-go</h1>
<ul><li>
<a href="/2019/07/pok%C3%A9mon-go-als-ijsbreker.html">Pokémon Go als ijsbreker</a> (16 Jul 2019)<br>
    Over het gebruiken van Pokémon Go als ijsbreker bij het maken van sociale contacten. De mogelijkheden tot het opdoen van nieuwe contacten en het hebben van plezier.
  </li></ul>
</div>
<hr>
    <br>
</div>
        </main>
    </div>
    
    <footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">David © 2019</p>
			<div class="right menu">
<a class="item" href="/archive.html">
                    Laatste Berichten
                </a><a class="item" href="/privacy.html">
                    Privacy
                </a>
                <a class="item" rel="me" href="https://twitter.com/WesterinkDavid">
                    Twitter
                </a>
                <a class="item" rel="me" href="https://facebook.com/myautisticself">
                    Facebook
                </a>
                <a rel="me" href="https://www.instagram.com/david.westerink/"></a>
                <a class="item" rel="me" href="https://github.com/davidakachaos">
                    Github
                </a>
                <div class="fb-page" data-href="https://www.facebook.com/myautisticself/" data-tabs="" data-width="230" data-height="70" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/myautisticself/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/myautisticself/">My Autistic Self</a></blockquote></div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-429677-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-429677-9');
</script>
<script type="text/javascript">
    jQuery('div.ui > a.image').each(function(){
        /* get max and minwidth via jquery*/       
       var maxWidth = parseInt($(this).width);
       var maxHeight = parseInt($(this).height);
       console.log('Changing dementions for img..');
       console.log('W: ' + maxWidth + ' H:' + maxHeight);
       var imga = $(this).find('img')[0];
       imga.src = imga.src.replace('h=300', 'h=' + maxHeight);
       imga.src = imga.src.replace('w=500', 'w=' + maxWidth);
    });
    jQuery('.post-container img.ui').each(function(){
       var maxWidth = parseInt(this.width);
       var maxHeight = parseInt(this.height);
       new_src = "//images.weserv.nl/?url=" + this.src;
       ext = this.src.split('.').slice(-1)[0];

       new_src += "&w=" + maxWidth+ "&h=" + maxHeight 
       if(ext == 'png'){
         new_src += "&output=png"
       } else {
         new_src += "&output=jpg"
       }
       console.log('Changing src from ' + this.src);
       console.log('To ' + new_src);
       this.src = new_src;
    });

    $(document).ready(function(){
        callFB();
        subscribeFBLike();
    });

    function subscribeFBLike(){
        if(typeof FB !== "undefined"){
            FB.Event.subscribe('edge.create', function(url) {
                ga('send', 'social', 'facebook', 'like', url);
            });
            console.log('subscribed');
        } else{
            setTimeout(subscribeFBLike, 250);
            console.log('Wait for FB init');
        }
    }

    function callFB(){
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '482973958831772', // App ID
            // channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            oauth      : false, // enable OAuth 2.0
            xfbml      : true,  // parse XFBML
            autoLogAppEvents: true
          });

        // Additional initialization code here
      };

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;js.src = "//connect.facebook.net/nl_NL/all.js";d.getElementsByTagName('head')[0].appendChild(js);
       }(document));     


    }
</script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"25d2d8c9b20b892603f68fb5e","lid":"4f8fedd4d3","uniqueMethods":true}) })
</script>
    <script type="text/javascript">
  var getFirstBrowserLanguage = function () {
    var nav = window.navigator,
    browserLanguagePropertyKeys = ['language', 'browserLanguage', 'systemLanguage', 'userLanguage'],
    i,
    language;

    /* support for HTML 5.1 "navigator.languages" */
    if (Array.isArray(nav.languages)) {
      for (i = 0; i < nav.languages.length; i++) {
        language = nav.languages[i];
        if (language && language.length) {
          return language;
        }
      }
    }

    /* support for other well known properties in browsers */
    for (i = 0; i < browserLanguagePropertyKeys.length; i++) {
      language = nav[browserLanguagePropertyKeys[i]];
      if (language && language.length) {
        return language;
      }
    }

    return null;
  };
  $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
      var cook_name = $(this).closest('.message').attr('id').split('-').join('');
      Cookies.set(cook_name, 'dontshow');
    })
  ;
  var pref_lang = getFirstBrowserLanguage().split('-')[0];
  $(document).ready(function(){var cook_val = Cookies.get("langchangetoen");if(cook_val == 'dontshow'){
      return;
    }else{
        $('#change-to-nl').attr("href", $('a.item.nl')[0].href);
        $('#change-to-en').attr("href", $('a.item.en')[0].href);
        if (pref_lang != "nl"){
          $('#lang-change-to-' + pref_lang).show();
        }
    }
  });
</script>
<script src="/js/JekyllWebmentionIO.js" async></script>
<template style="display:none" id="webmention-bookmarks"><div class="webmentions webmentions--bookmarks">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="%7B%7B%20webmention.url%20%7D%7D" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No bookmarks were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-likes"><div class="webmentions webmentions--likes">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="%7B%7B%20webmention.author.photo%20%7D%7D" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No likes were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-links"><div class="webmentions webmentions--links">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="%7B%7B%20webmention.url%20%7D%7D" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No links were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-posts"><div class="webmentions webmentions--posts">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <a class="webmention__title webmention__source u-url" href="%7B%7B%20webmention.url%20%7D%7D" rel="nofollow">{{ webmention.title }}</a>
          <div class="webmention__meta">
            {% if webmention.pubdate %}
              <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No posts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-replies"><div class="webmentions webmentions--replies">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">
                {% if webmention.author.photo %}
                  <img class="webmention__author__photo u-photo" src="%7B%7B%20webmention.author.photo%20%7D%7D" alt="" title="{{ webmention.author.name }}">
                {% endif %}
                <b class="p-name">{{ webmention.author.name }}</b>
              </a>
            {% endif %}
            {% if webmention.pubdate and webmention.author %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="%7B%7B%20webmention.url%20%7D%7D" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No replies were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-reposts"><div class="webmentions webmentions--reposts">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="%7B%7B%20webmention.author.photo%20%7D%7D" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No reposts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-rsvps"><div class="webmentions webmentions--rsvps">
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="%7B%7B%20webmention.author.photo%20%7D%7D" alt="Avatar for {{ webmention.author.name }}" title="{{ webmention.author.name }}">
              <b class="p-name">{{ webmention.author.name }}</b>
              {{ webmention.content }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No RSVPs were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-count">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<span class="webmention-count" unless webmention_types='=""' data-webmention-types="{{ webmention_types }}" endunless>{{ count }}</span></template><template style="display:none" id="webmention-webmentions">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions" unless webmention_types='=""' data-webmention-types="{{ webmention_types }}" endunless>
  {% if webmentions.size &gt; 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="%7B%7B%20webmention.author.url%20%7D%7D" rel="nofollow">
                  {% if webmention.author.photo %}
                    <img class="webmention__author__photo u-photo" src="%7B%7B%20webmention.author.photo%20%7D%7D" alt="" title="{{ webmention.author.name }}">
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
              </div>
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {{ webmention.content }}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            
            <div class="webmention__meta">
              {% if webmention.pubdate %}
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              {% endif %}
              {% if webmention.pubdate and webmention.url %}|{% endif %}
              {% if webmention.url %}
                <a class="webmention__source u-url" href="%7B%7B%20webmention.url%20%7D%7D" rel="nofollow">Permalink</a>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div></template>
</body>

</html>